$max: 360;
$step: 45;
@for $i from 1 through ceil($max/$step) { 
    $value: ($i - 1)*$step + 45; 
    .fa-rotate-#{$value} { 
        transform: rotate($value+0deg);
    } 
}

    .fa-rotate-#{'-20'} { 
        transform: rotate(-20deg);
    } 
